[submodule "assignments/roserot/assignments/roserot/HW01LegacyWebRoseroT/BlogNextJS"]
	path = assignments/roserot/assignments/roserot/HW01LegacyWebRoseroT/BlogNextJS
	url = https://github.com/IsmaelNicolas/BlogNextJS.git
