.login-title{
    font-size: 4rem;
    font-weight: 700;
}

.register-form{
    width: 22vw;

}

.login-input-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    font-weight: 400;
    font-size: 1.1rem;
}

.login-button-container > button{
    background-color: #191919;
    color: #C7D6D5;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 10px;
    font-weight: 700;
    width: 100%;
}

.login-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}