
  <style type="text/css">

    h1,h2,h3,h4{
      text-align: center;
    }
    .container{
      display: grid;
      max-width: 95%;
      align-items: center;
    }
    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: greenyellow;
        align-content: center;
        margin-left: 30%;

    }
    table thead tr {
      background-color: #1c486f;
      color: #ffffff;
      text-align: left;
    }
    table th,
    table td {
        padding: 12px 15px;
        text-align: center;
    }
    table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    
    table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    
    table tbody tr:last-of-type {
      border-bottom: 2px solid #154b61;
    }
    table tbody tr.active-row {
      font-weight: bold;
      color: #183e74;
    }
    
      </style>
    <title>Use of Api</title>
    <h2>Get Request (http://jsonplaceholder.typicode.com/users)</h2>
    <h3>Andrés Gerardo Valarezo Correa</h3>
   
    <table >
      <tr>
        <th>ID</th>
        <th>Name </th>
        <th>User Name </th>
        <th>Email</th>

      </tr>
      <tr *ngFor="let objectPerson of listPeople">
        <td>{{objectPerson.id}}</td>
        <td>{{objectPerson.name}}</td>
        <td>{{objectPerson.username}}</td>
        <td>{{objectPerson.email}}</td>

      </tr>
    </table>
 