.main-hero{
    background-image: url(../images/Background.png);
    height: 700px;
    background-size: cover;
    background-position: center;
    padding-top: 9em;
}

.main-hero--information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero--information{
    width: 600px;
    align-items: center;
    text-align: center;
    margin-bottom: 4em;
}
.hero--box--title{
    color: var(--white);
    letter-spacing: 0.03em;
    font-weight: 600;
    font-size: 18px;
    line-height: 197%;
}

.hero--container-buttons{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--primary-blue);
    border-radius: 136px;
    font-size: 12px;
    font-weight: 500;
    padding: 1em 1.5em;
    margin: 1.5em;
}

.hero--container-buttons:hover{
    background-color: #0068C5;
    color: var(--white);
}

.information--container{
    background-color: var(--secundary-blue);
}

.information--container-row{
    display: flex;
    padding: 8em 0;   
    justify-content: space-between;
}


.information--line{
    height: 2px;
    width: 60%;
    background-color: var(--primary-blue);

}
.information--item p{
    font-size: 14px;
    color: var(--grey);
    margin-top: 20px;
}

.store--container{
    background-color: var(--secundary-blue);
    display: flex;
}

.store--container-elements h2{
    margin-bottom: 2em;
}

.store--container-elements li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:var(--grey);
    margin: 1em 1.5em;
}

.about--container{
    background-color: var(--primary-black);
    padding: 2em 0;
}

.about--container-elements{
    display: flex;
    padding: 5em 0em;
    align-items: center;
}
.about--element{
    text-align: right;
}

.about--element p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--grey);
    padding-left: 5px;
}
.about--element img{
    margin-left: 70%;
}

.about--element a:hover{
    color: var(--primary-blue);
}

.items-element{
    width: 140px;
    justify-content: center;
    text-align: center;
}
