/*INICIO Diseño Quienes somos*/
.main-qs {
    background: url(../Diseños/Fondos/imagen_fondo5.jpg);
    display: grid;
    grid-template-columns: 26% 45% 26%;
    grid-template-rows: 500px;
    gap: 1em;
    justify-items: stretch;
    /*grid-template-rows: max-content auto;*/
  }
  .mision {
    text-align: center;
    position: relative;
    left: 2.0px;
    align-self: center;
    border: 1px solid rgb(97, 16, 122);
    background: #ffffff;
    padding: 1em;
  }
  .vision {
    text-align: center;
    align-self: center;
    border: 1px solid rgb(108, 31, 134);
    background: #ffffff;
    padding: 1em;
  }
  .imagen {
    background: #ffffff;
  }
  .imglogo {
    grid-column: 2/3;
    /*justify-self: center;*/
  }
  .imagenlogo{
    width: 300px;
    height: 150px;
    display: block;
    margin: auto;
  }
  .diseñoimgs{
    width: 600px;
    height: 450px;
    display: grid;
    margin: auto;
  }
  /*.main-qs div:hover{
    border: 1px solid #d57df8;
  }APUNTADOR-MARCADOR*/
  /*FIN Diseño Quienes somos*/