

img{
    height: 100px;
    width: 100px;
    position: center;
}

.login-style{
    text-align: center;
}

.btn{
    text-decoration: none;
    color:black;
    background-color: aqua;
    font-size: 20px;
    border-radius: 20px;

}