@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');

*{
    margin: 0;
}

header{
    background-color: #17202A;
}
    h1{
        color: whitesmoke;
        font-family: 'Marvel', sans-serif;
        text-align: center;
        font-size: 50px;
    }

body{
        background-color: #D5D8DC;
}

.row{
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
    .img-thumbnail{
        width: 220px;
        height: 220px;
    }
    