body {
    /*background: #ffd89b;
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    background: linear-gradient(to right, #19547b, #ffd89b);*/
    background-image: url("./gamesConsole.webp");
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
   
}


table.list {
    text-align: center;
    width: 100%;
    background-color: #eee;
}

td, th {
    border: 1px solid rgb(24, 23, 23);
    text-align: left;
    padding: 8px 8px;
    font-size: 20px;
}

tr:nth-child(even),
table.list thread>tr {
    background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="number"] {
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: rgb(175, 155, 155);
    padding: 8px 8px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 1px;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

input[type="submit"]:hover {
    background:#19547b;
}

input[type="reset"]:hover {
    background:#19547b;
}

button {
    background: rgb(206, 84, 84);
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    text-align: center;
}

button:hover {
    background: #19547b;
}

.formText{
    position: relative;
    left: 90px;
    top: 90px;
    width: 300px;
    height: 200px;
}
.tableText{
    position: relative;
    width: 600px;
    left:500px;    
}
label{
    font-size: 20px;
    background-color: #eee;
}

h1{
    position: relative;
    text-align: center;
    background-color: #eee;
}