img{
    height: 100px;
    width: 100px;
    position:center;
}

.login-style{
    text-align:center;
}

.btn{
    text-decoration: none;
    color: black;
    background-color: rgb(72, 198, 230);
    font-size: 20px;
    border-radius: 20px;
    
}