img{
    width: 275px;
    height: 200px;
    position:center;
}

.login-style{
    text-align:center;
}

.btn{
    text-decoration: none;
    color: black;
    background-color: chartreuse;
    font-size: 20px;
    border-radius: 20px;
    
}