body{
    background-color: blanchedalmond;
    align-content: center;
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
    position: inherit;
}
.content-bottom{
    text-align: center;
    align-content: center;
}
.login-style{
    text-align: center;
}

.btn{
    text-decoration: none;
    display: block;
    width: 220px;
    background-color: aqua;
}