@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	font-family: 'Josefin Sans', sans-serif;
}

div{
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
	
}
