*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form-register{
    width: 400px;
    background-color: #eebebe;
    padding:30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}
.form-register h1{
    color:black;
    margin-bottom:16px;
}
.fields{
    width:100%;
    background:#eebebe;
    border-radius: 4px;
    margin-bottom: 16px;
    padding:10px;
    border: 1px solid #5e222f;
    font-size:16px;
    font-weight: normal;
}
.button{
    width:100%;
    background: #4b1022;
    border:none;
    padding:12px;
    color:white;
    margin: 16px 0;
    font-size: 20px;
}
table{
    text-align:left;    
    border-collapse: collapse;
    border: none;
    width: 100%;
}
th, td{
    padding:15px;
}
thead{
    background-color:#eebebe;
    border-bottom: solid 5px #4b1022;
    color:black;
}
.nav{
    background-color: #eebebe;
    width: 100%;
    height:130px;
    margin-bottom: 15px;
    padding:30px;
    text-justify: right;
    line-height:15px;
    color:black;
}
.button-register{
    color:black;
    text-decoration: none;    
    margin-right: 20px;
    padding: 10px 15px;
    border: 1px solid #4b1022;
}